<form name="jobForm">
  <div class="row">
   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Feito!</strong> {{successMsg}}
    </div>

    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ops!</strong> {{errorMsg}}
    </div>
  </div>
  <div class="form-group">
    <label for="inputEspecificacao">Especificação</label>
    <input type="text" class="form-control" id="inputEspecificacao" placeholder="Nome do cargo" ng-model="cargo.especificacao" ng-required="true">
  </div>
  <div class="form-group">
    <label for="inputNomeF">Nome Feminino</label>
    <input type="text" class="form-control" id="inputNomeF" placeholder="Nome Feminino do cargo (se houver)" ng-model="cargo.nomeFeminino">
  </div>
  <div class="form-group">
    <label for="textareaDescricao">Descrição</label>
    <textarea placeholder="Descrição do cargo" class="form-control" id="textareaDescricao" ng-model="cargo.descricao"></textarea>
  </div>
  <div class="form-group">
    <label for="inputCodigoCBO">Código CBO</label>
    <input type="text" class="form-control" id="inputCodigoCBO" placeholder="Código CBO" ng-model="cargo.cbo">
  </div>
</form>
<button type="submit" class="btn btn-primary" ng-disabled="jobForm.$invalid" ng-click="save(cargo)">Salvar</button>