<form name="sectorForm">
  <div class="row">
   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Feito!</strong> {{successMsg}}
    </div>

    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ops!</strong> {{errorMsg}}
    </div>
  </div>
  <div class="form-group">
    <ui-select ng-model="selected.item"
               class="btn-group bootstrap-select form-control"
               ng-disabled="false"
               append-to-body="true"
               search-enabled="false" 
               ng-required="true">
      <ui-select-match placeholder="Selecione um Câmpus">
        <span> {{$select.selected.nome}}</span>
      </ui-select-match>
      <ui-select-choices repeat="campus in (campi | filter: $select.search) track by campus._id">
        <span ng-bind-html="campus.nome"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <label for="inputNome">Setor</label>
    <input type="text" class="form-control" id="inputNome" placeholder="Nome do setor" ng-model="setor.nome" ng-required="true">
  </div>
  <div class="form-group">
    <label for="textareaDescricao">Descrição</label>
    <textarea placeholder="Descrição do setor" class="form-control" id="textareaDescricao" ng-model="setor.descricao"></textarea>
  </div>

  
</form>
<button type="submit" class="btn btn-primary" ng-disabled="sectorForm.$invalid" ng-click="save(setor)">Salvar</button>