<form name="feriadoForm">
  <div class="row">
   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Feito!</strong> {{successMsg}}
    </div>

    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ops!</strong> {{errorMsg}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputNome" style="color: red;" >Descrição*</label>
        <input type="text" class="form-control" id="inputNome" placeholder="Descrição do feriado" ng-model="feriado.nome" ng-required="true">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputDataInicial" style="color: red;">Data Inicial*</label>
        <input type="text" class="form-control" id="inputDataInicial" placeholder="ex.: 01/05/2017" ng-model="feriado.data.inicio" ng-required="true" ui-date>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputDataFinal">Data Final</label>
        <input type="text" class="form-control" id="inputDataFinal" placeholder="ex.: 03/05/2017" ng-model="feriado.data.fim" ng-required="false" ui-date>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
      <i style="font-size: 11px; color: #7b7ff5;">Caso o feriado seja de <b>apenas um dia</b>, basta preencher a data inicial. <br/>Caso o feriado seja <b>fixo</b>, pode colocar qualquer ano na data, o que vai importar é o dia e mês.</i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputAbrangencia" style="color: red;">Abrangência*</label>
         <ui-select ng-model="selectedAbrang.item"
               class="btn-group bootstrap-select form-control"
               ng-disabled="false"
               on-select="selectedAbrangencia($item)"
               append-to-body="true"
               search-enabled="false"
               ng-required="true">
          <ui-select-match placeholder="Selecione a Abrangência">
            <span> {{$select.selected.nome}}</span>
          </ui-select-match>
          <ui-select-choices repeat="abrang in abrangencias | filter: $select.search">
            <span ng-bind-html="abrang.nome"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputEstado">Estado</label>
         <ui-select ng-model="selectedEstado.item"
               class="btn-group bootstrap-select form-control"
               ng-disabled="flagEstado"
               on-select="selectedUF($item)"
               append-to-body="true"
               search-enabled="false">
          <ui-select-match placeholder="Selecione o Estado">
            <span>{{$select.selected.nome_uf}}</span>
          </ui-select-match>
          <ui-select-choices repeat="estado in estados | filter: $select.search">
            <span ng-bind-html="estado.nome_uf"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputMunicipio">Município</label>
         <ui-select ng-model="selectedMunicipio.item"
               class="btn-group bootstrap-select form-control"
               ng-disabled="flagMunicipio"
               append-to-body="true"
               search-enabled="false">
          <ui-select-match placeholder="Selecione o Município">
            <span> {{$select.selected.nome_municipio}}</span>
          </ui-select-match>
          <ui-select-choices repeat="municipio in municipios | filter: $select.search">
            <span ng-bind-html="municipio.nome_municipio"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="col-sm-4">  
      <div class="form-group">
        <label class="checkbox-inline custom-checkbox nowrap">
          <input type="checkbox" id="checkboxFixo" ng-model="feriado.fixo">
          <span>É Fixo? (ele se repete todo ano?)</span>
        </label>
      </div>
    </div>
    <div class="col-sm-8">  
      <div class="form-group">
          <i style="font-size: 11px; color: #7b7ff5;">Quando selecionar o feriado municipal aguarde alguns segundos até o comboBox de municípios carregar completamente.</i>
      </div>
    </div>
  </div>

</form>
<button type="submit" class="btn btn-primary" ng-disabled="feriadoForm.$invalid" ng-click="save(feriado)">Salvar</button>