<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Linhas por página
      <select class="form-control selectpicker show-tick" title="Linhas por página" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <div>Total de Solicitação de Ajuste: {{total}}</div>
  <table class="table" st-table="adjSolicitations"> 
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="ID">ID</th>
      <th st-sort="nome">Nome</th>
      <th st-sort="PIS">PIS</th>
      <th st-sort="data">Data</th>
      <th st-sort="status">Status</th>
      <th st-sort="motivo">Motivo</th>
      <th>Ações</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="funcionario._id" placeholder="Buscar Nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="funcionario.nome" placeholder="Buscar Nome" class="input-sm form-control search-input"
                 type="search"/></th>
       <th><input st-search="funcionario.PIS" placeholder="Buscar PIS" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="data" placeholder="Buscar Data" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="status" placeholder="Buscar Status" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="motivo" placeholder="Buscar Motivo" class="input-sm form-control search-input"
                 type="search"/></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="adjSol in adjSolicitations track by $index" ng-class="{'funcionario-demitido': !adjSol.motivo}">
        <td>{{$index}}</td>
        <td>{{adjSol._id}}</td>
        <td>{{adjSol.funcionario.nome}}</td>
        <td>{{adjSol.funcionario.PIS}}</td>
        <td>{{adjSol.data | date: 'dd/MM/yyyy'}}</td>
        <td>{{adjSol.status}}</td>
        <td>{{adjSol.motivo}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="acoes">
            <button title="Editar" type="button" class="btn btn-xs btn-default" ui-sref="admadjsol.edit({id: adjSol._id})">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  
            </button>
            <button title="Excluir" type="button" class="btn btn-xs btn-danger" ng-click="excluir(adjSol._id)">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>  
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<div class="add-row-editable-table">
  <button class="btn btn-primary" ui-sref="admadjsol.new()">Nova Solicitação de Ajuste</button>
</div>