<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <!-- <div class="progress-info">Your profile is 70% Complete</div>
    <div class="progress">
      <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
           aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
      </div>
    </div> -->
    <div class="row">
     <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Feito!</strong> {{successMsg}}
      </div>

      <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Ops!</strong> {{errorMsg}}
      </div>
    </div>
    <form name="userForm" novalidate>
      <h3 class="with-line">Dados Pessoais</h3>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row clearfix">
            <label for="inputFirstName" class="col-sm-3 control-label">Foto</label>

            <div class="col-sm-9">
              <div class="userpic">
                <div class="userpic-wrapper">
                  <img ng-src="{{ picture }}" ng-click="uploadPicture()">
                </div>
                <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
                <a href class="change-userpic" ng-click="uploadPicture()">Alterar Foto de Perfil</a>
                <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputNome">Nome*</label>
            <input type="text" class="form-control" id="inputNome" placeholder="Nome" ng-model="funcionario.nome" ng-disabled="true">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputSobrenome">Sobrenome*</label>
            <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome" ng-model="funcionario.sobrenome" ng-disabled="true">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputPIS">PIS* - 12 dígitos</label>
            <input type="text" class="form-control" id="inputPIS" placeholder="Número PIS" ng-model="funcionario.PIS" ng-disabled="true">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputCPF">CPF*</label>
            <input type="text" class="form-control" id="inputCPF" placeholder="CPF" ng-model="funcionario.CPF" ng-disabled="true">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputEmail">E-mail</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="E-mail" ng-model="funcionario.email" ng-disabled="true">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputDataNascimento">Data de Nascimento</label>
            <input type="text" class="form-control" id="inputDataNascimento" placeholder="ex.: 30/04/1986" ng-model="funcionario.dataNascimento" ng-disabled="true" ui-date>
          </div>
        </div>
      </div>    

      <h3 class="with-line">Informação Profissional</h3>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputMatricula">Matrícula</label>
            <input type="text" class="form-control" id="inputMatricula" placeholder="Matrícula" ng-model="funcionario.matricula" ng-disabled="true"> 
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputDataAdmissao">Data de Admissão*</label>
            <input type="text" class="form-control" id="inputDataAdmissao" placeholder="ex.: 10/05/2016" ng-model="funcionario.alocacao.dataAdmissao" ng-disabled="true" ui-date>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputInstituicao">Instituição*</label>
             <ui-select ng-model="selectedInst.item"
                   class="btn-group bootstrap-select form-control"
                   ng-disabled="true"
                   append-to-body="true"
                   search-enabled="false"
                   ng-required="true">
              <ui-select-match placeholder="Selecione uma Instituição">
                <span> {{$select.selected.sigla}}</span>
              </ui-select-match>
              <ui-select-choices repeat="instituicao in (instituicoes | filter: $select.search) track by instituicao._id">
                <span ng-bind-html="instituicao.sigla"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputCargo">Cargo</label>
            <input type="text" class="form-control" id="inputCargo" placeholder="Cargo" ng-model="funcionario.nomeCargo" ng-disabled="true">
          </div>
        </div>
      </div>

      <h3 class="with-line">Alterar Senha</h3>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputPassword">Senha*</label>
            <input type="password" class="form-control" id="inputPassword" name="senha" placeholder="Senha" ng-model="funcionario.senha" ng-minlength='8'>
            <div ng-messages="userForm.senha.$error" class="profile-messages">
              <div ng-message="minlength"> A senha deve conter no mínimo 8 caracteres. </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputConfirmaSenha">Confirmação da Senha*</label>
            <input type="password" class="form-control" id="inputConfirmaSenha" name="confSenha" placeholder="Confirme a senha" ng-model="funcionario.confirmaSenha" compare-to="funcionario.senha">
            <div ng-messages="userForm.confSenha.$error" class="profile-messages">
              <div ng-message="minlength"> O campo de confirmação deve conter no mínimo 8 caracteres. </div>
            </div>
            <div ng-messages="userForm.confSenha.$error" class="profile-messages">
              <div ng-message="compareTo"> O campo de Confirmação deve ser igual à senha informada. </div>
            </div>
          </div>
        </div>
      </div>
    </form>    
    {{userForm.$error}}
    <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-disabled="userForm.$invalid" ng-click="save(funcionario)">
      <i class="ion-android-checkmark-circle"></i>Atualizar Perfil
    </button>
  </div>
</div>
