<div class="modal-content">
  <form name="motivoForm">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="myModalLabel" style="color: #4933b7;">{{apontamento.data}}</h4>
      <div class="separator2" style="margin-bottom: 0px;"></div>
    </div>
    <h4 class="modal-content" style="color: #4933b7;">Listas de Batimentos</h4>
    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 10px;">
      <div class="row" ng-if="apontamento" style="margin: 0px;">
        <table class="table table-condensed" style="table-layout: fixed;" ng-f>
          <thead>
            <tr style="color: #334db7;">
              <th class="col-xs-1 centerColSpan first" style="width: 20%;"><b>E/S</b></th>
              <th class="col-xs-1 centerColSpan first" style="width: 20%;"><b>Marcação</b></th>             
              <th class="col-xs-1 centerColSpan first" style="width: 45%;"><b>Motivo</b></th>
              <th class="col-xs-1 centerColSpan first last" style="width: 15%;"><b>Ações</b></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in arrayES track by $index" class="editable-row" ng-class="{'batida-desc': item.desconsiderada, 'mdl-batida-nova': item.incluida}">
              <td style="line-height: 40px !important; text-align: center; padding-left: 15px; overflow: hidden; width: 20%;">{{item.rDescricao}}:</td>
              <td style="line-height: 40px !important; text-align: center; padding-left: 5px; overflow: hidden; width: 20%;">              
                <label style="border: 1px solid; border-radius: 10px; padding: 5px; line-height: 20px;">{{item.horario}}</label>
              </td>
              <td style="line-height: 40px !important; text-align: center; overflow: hidden; width: 45%;">              
                {{item.motivo ? item.motivo : '-'}}
              </td>
              <td style="line-height: 40px !important; text-align: center; padding-right: 15px; overflow: hidden; width: 15%;">
                <div class="btn-group" role="group" aria-label="acoes">
                  <button title="Desconsiderar" type="button" class="btn btn-sm btn-danger" ng-show="!item.desconsiderada" ng-click="desconsiderar($index)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                  </button>
                  <button title="Reconsiderar" type="button" class="btn btn-sm btn-primary" ng-show="item.desconsiderada" ng-click="reconsiderar($index)">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>  
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert bg-danger" ng-if="batidaError"><strong>Atenção: </strong> as batidas devem ser em quantidade par.</div>
        <div class="alert bg-danger" ng-if="numerosErro"><strong>Atenção: </strong> as horas e minutos devem ter dois dígitos no padrão 24h.</div>
        <div class="alert bg-danger" ng-if="horaErro"><strong>Atenção: </strong> as horas devem estar entre 00 e 23.</div>
        <div class="alert bg-danger" ng-if="minutoErro"><strong>Atenção: </strong> os minutos devem estar entre 00 e 59.</div>
        <div class="separator2"></div>            
      </div>
      
    </div>
    <div class="separator2" style="margin-bottom: 0px;"></div>
    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 10px;">
      <div style="padding: 0px 15px 0px 15px;">
        <div>
          <label style="font-size: 14px; float: left; margin: 5px 5px 0px 0px;">Incluir Batimento: </label>
          <input type="text" class="form-control table-form-control" style="width: 65px;" placeholder="__:__" ng-model="algo.horario" ui-mask="99:99">
          <!-- <label style="border: 1px solid; border-radius: 5px; padding: 3px 5px 3px 5px; background-color: #ede7e7; color: #1344ed;">{{horario}}</label> -->
        </div>
        <div class="form-group" style="margin: 10px 0px 10px 0px;">
          <label style="font-size: 14px; font-weight: bold; color: #e73b2e;">Motivo</label>
          <div class="form-group">
            <ui-select ng-model="selected.item"
                     class="btn-group bootstrap-select form-control"
                     ng-disabled="false"
                     append-to-body="false"
                     search-enabled="false" 
                     ng-required="true">
              <ui-select-match placeholder="Selecione um motivo:">
                <span> {{$select.selected.nome}}</span>
              </ui-select-match>
              <ui-select-choices repeat="motivo in (motivos | filter: $select.search) track by motivo._id">
                <span ng-bind-html="motivo.nome"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-info btn-with-icon" ng-disabled="motivoForm.$invalid" ng-click="incluirBatimentoLocal(algo)"><i class="ion-plus-round"></i>Incluir</button>
        </div>
      </div>
    </div>
  </form>
  <div class="separator2" style="margin-bottom: 5px; margin-top: 5px;"></div>
  <div ng-show="errorMsg" class="alert bg-danger" role="alert">
    {{errorMsg}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="motivoForm.$invalid" ng-click="confirmaInclusao(algo)">Salvar</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Fechar</button>
  </div>
</div>
