<div id="loaderDiv" loader>
  <p class="ajax-loader title-loader"> Carregando... </p>
  <!--<img src="img/rhPontoSlogan.png" class="ajax-loader"/>-->
  <div class='sk-spinner sk-spinner-wave ajax-loader'><div class='sk-rect1'></div><div class='sk-rect2'></div><div class='sk-rect3'></div><div class='sk-rect4'></div><div class='sk-rect5'></div></div>
</div>

<form name="ajusteForm">
  <div class="row">
   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Feito!</strong> {{successMsg}}
    </div>

    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ops!</strong> {{errorMsg}}
    </div>
  </div>

  <div class="row">
    <h1 style="font-size: 13px;">Atenção: A justificação de ausências através do Abono segue as diretrizes governamentais, entre elas a portaria 1510 do MTE que informa que uma batida efetuada por um colaborador jamais poderá ser editada/removida, apenas desconsiderada e devidamente motivada.
    Importante frisar também que a justificativa de ausência tem prioridade sobre as marcações efetuadas pelos funcionários. Caso o funcionário tenha feito marcações dentro de um período, elas serão desconsideradas por conta deste abono.</h1>
  </div>

  <div class="row" style="margin: 0px;">
    <div class="col-lg-6 col-md-6" style="padding:2px;">

      <label style="color: #33aab7;">Funcionário:</label>
      <input type="text" ng-model="funcionario.selected" uib-typeahead="employee as employee.name for employee in employeesNames | filter:{name:$viewValue} | limitTo:8" class="form-control" typeahead-on-select="changeFunc(funcionario.selected)" ng-blur="isEmptyFunc()">
      <label style="color: #33aab7; margin-top: 5px;" ng-if="funcionario.selected">Equipe: <strong style="color: #000;">{{funcionario.selected.equipe.nome}}</strong></label>

    </div>
    <div class="col-lg-6 col-md-6" style="padding-top:10px; padding-left: 20px;">
      
      <h4 class="sub-header"><strong style="color: #334db7;">Horário do Funcionário</strong></h4>
      <p ng-repeat="itemHorario in infoHorario track by $index" style="font-weight: normal;">
        <strong>{{itemHorario.dia}}:</strong> {{itemHorario.horario}}
      </p>

    </div>
  </div> 

  <div class="separator"></div>

  <div class="row" ng-if="funcionarioOficial.PIS">
    <div class="col-lg-12 col-md-12">
      <h4 class="sub-header"><strong style="color: #334db7;">Informações da Ausência</strong></h4>
      <div class="row">
        
        <div class="col-lg-6 col-md-6">
          <div class="row"  style="margin-right: 0px; margin-left: 0px; color: #dd502b;">
            <label >Caso a ausência seja de um dia, preencher apenas a Data Inicial*</label>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <label>Data Inicial</label>
              <p class="input-group" style="margin-bottom: 10px;">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="datepic.dt" ng-change="changeDate(datepic.dt)" ng-readonly="true" is-open="something.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" style="color: #c0c0c0;" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>

              <div ng-show="dataErrorMsg" class="alert bg-danger" role="alert">
                <strong>Ops!</strong> {{dataErrorMsg}}
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <label>Data Final <i>(opcional)</i></label>
              <p class="input-group" style="margin-bottom: 10px;">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="datepic2.dt" ng-change="changeDate2(datepic2.dt)" ng-readonly="true" is-open="something2.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" style="color: #c0c0c0;" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>

              <div ng-show="dataErrorMsg2" class="alert bg-danger" role="alert">
                <strong>Ops!</strong> {{dataErrorMsg2}}
              </div>
            </div>
          </div>
          <div class="row" style="margin-right: 0px; margin-left: 0px; color: #dd502b;">
            <label>Caso a ausência seja de apenas um dia e não contemple o turno inteiro do funcionário, preencha os horários. Exemplo: ausência de 08h às 12h*</label>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <label>Hora Inicial <i>(opcional)</i></label>
              <input type="text" class="form-control table-form-control" placeholder="__:__" ng-model="hora.inicio" ui-mask="99:99" style="width: 70px;">
              <div ng-show="timeErrorMsg" class="alert bg-danger" role="alert">
                <strong>Ops!</strong> {{timeErrorMsg}}
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <label>Hora Final <i>(opcional)</i></label>
              <input type="text" class="form-control table-form-control" placeholder="__:__" ng-model="hora.fim" ui-mask="99:99" style="width: 70px;">
              <div ng-show="timeErrorMsg2" class="alert bg-danger" role="alert">
                <strong>Ops!</strong> {{timeErrorMsg2}}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <label>Evento</label>
              <div class="form-group">
                <ui-select ng-model="selected.item"
                         class="btn-group bootstrap-select form-control"
                         ng-disabled="false"
                         append-to-body="true"
                         search-enabled="false" 
                         ng-required="true">
                  <ui-select-match placeholder="Selecione um evento:">
                    <span> {{$select.selected.nome}}</span>
                  </ui-select-match>
                  <ui-select-choices repeat="eventoAbono in (eventosAbono | filter: $select.search) track by eventoAbono._id">
                    <span ng-bind-html="eventoAbono.nome"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <label for="textareaDescricao">Motivo</label>
              <textarea placeholder="É necessário escrever uma motivação, mesmo que seja igual ao evento de abono" class="form-control" id="textAreaMotivo" ng-model="justif.motivo"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
                <label>Anexo</label>
                <div class="row" style="margin-right: 0px; margin-left: 0px;">
                    <label for="fileToUpload" style="border: 2px solid black; color: #ffffff; background-color: #1187ef; border-radius:5px; padding:5px;">Clique para selecionar um arquivo PDF ou uma imagem.</label> <span style="font-style: italic;">obs: A limitação de tamanho por arquivo é de 2MB.</span>
                    <input id="fileToUpload" style="visibility:hidden;" type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().onUploadSelect(this)" />
                </div>
                <div ng-show="fileErrorMsg" class="alert bg-danger" role="alert">
                  <strong>Ops!</strong> {{fileErrorMsg}}
                </div>
                <div class="row" ng-if="files.length > 0" style="margin-right: 0px; margin-left: 0px; border: 1px dotted; border-radius: 5px;">
                  <table class="table">
                    <thead>
                      <tr style="color: #020202";>
                        <th style="text-align: left;">Nome do arquivo</th>
                        <th style="text-align: left;">Tamanho</th>
                        <th style="text-align: left;">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in files track by $index">
                          <td style="text-align: left; color: #545151">{{file.name}}</td>
                          <td style="text-align: left; color: #989494;">{{file.sizeFtd}}</td>
                          <td style="text-align: left; color: #989494;"><button title="Excluir anexo" type="button" class="btn btn-xs btn-danger" ng-click="deletar($index)">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                            </button>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="separator"></div> 
        
  <div class="row" ng-if="hasSolicitation" style="margin: 0px;">
    <h4 class="sub-header" style="color: #000; margin-bottom: 4px; font-weight: normal; margin-left: 15px;">Atenção, <strong>já existe</strong> uma solicitação de abono <strong>pendente</strong> para essa data:</h4>
    <div class="row" style="border: 2px solid #676db9; margin: 0px; border-radius: 5px; padding: 5px 0px 0px 0px;">
      <div class="col-xs-12" style="margin-top: 0px;">
        <label ng-show="solicitacaoObtida.message" style="color: #134fb7; margin-left: 0px; font-size: 14px; padding: 5px 5px 5px 5px; width: 100%;"> {{solicitacaoObtida.message}} </label>
        <label style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Evento: {{solicitacaoObtida.eventoAbono.nome}} </label>
        <label ng-if="tipoZero" style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Data: {{solicitacaoObtida.data | date:'fullDate'}} </label>
        <label ng-if="tipoUm" style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Data: {{solicitacaoObtida.data | date:'fullDate'}} <br> Horário Inicial: {{solicitacaoObtida.horarioEnviado.inicial.horarioFtd}} <br> Horário Final: {{solicitacaoObtida.horarioEnviado.final.horarioFtd}}</label>
        <label ng-if="tipoDois" style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Data Inicial: {{solicitacaoObtida.data | date:'fullDate'}} <br> Data Final: {{solicitacaoObtida.dataFinal | date:'fullDate'}} <br> Período de {{solicitacaoObtida.arrayAusAjt.length}} dias</label>
        <label style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Motivo: {{solicitacaoObtida.motivo}}</label>
      </div>
    </div>
  </div>    

  <div class="row" ng-if="!hasSolicitation" style="margin: 0px;">
    <div class="row" style="margin: 0px;" ng-if="!flagFerias">
      <div class="col-xs-12">
        <div class="form-group" style="float: right;">
          <ul class="btn-list clearfix">
            <li><button type="button" class="btn btn-primary btn-with-icon" ng-click="criarAbono()">Salvar</button></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="divMarcacoes" ng-if="flagFerias" class="form-group">
      <p><strong>O Funcionário está de férias nessa data e não pode ter seu ponto ajustado manualmente. Consultar o RH da empresa para maiores informações.</strong></p>
      <div class="form-group" style="float: left;">
        <p style="margin-bottom: 0px; color: #334db7; font-weight: normal;"> Períodos de Férias: </p>
        <ul class="btn-list clearfix" style="color: #ff00ff; font-weight: normal;" ng-repeat="item in funcionarioOficial.ferias track by $index">
          <li>{{item.dataIniFtd | date:'dd/MM/yyyy'}} até {{item.dataFinFtd | date:'dd/MM/yyyy'}}</li>
        </ul>
      </div>
    </div>
  </div>

</form>