<div ba-panel ba-panel-title="Bater Ponto" ba-panel-class="with-scroll">

    <div class="row">
	   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
	      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Feito!</strong> {{successMsg}}
	    </div>

	    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
	      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Ops!</strong> {{errorMsg}}
	    </div>
	</div>
    
	<!-- <div class="row">
		<div class="col-xlg-6 col-md-12 col-sm-6">
	        <h4>Popup</h4>
	        <label>Selected date is: <em>{{dt | date:'fullDate' }}</em></label>
	        <p class="input-group">
	            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="datepic.dt" is-open="something.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
	          <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
	        <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
	    </div>
	</div> -->	

	<div class="row">
        <label for="fileToUpload" style="border: 1px solid black; border-radius:5px; padding:5px;">Selecione um arquivo PDF ou uma imagem para anexar. A limitação de tamanho por arquivo é de 2mb.</label><br />
        <input id="fileToUpload" style="visibility:hidden;" type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().onUploadSelect(this)" />
    </div>

    <div class="row" ng-if="files.length > 0">
	    <table class="table">
		    <thead>
		    	<tr>
			      <th>Nome do arquivo</th>
			      <th>Tamanho</th>
			  	</tr>
			</thead>
			<tbody>
		      	<tr ng-repeat="file in files track by $index">
		        	<td>{{file.name}}</td>
		        	<td>{{file.sizeFtd}}</td>
		        </tr>
		    </tbody>
		</table>
	</div>

	<button type="button" class="btn btn-primary btn-with-icon" ng-click="makeUpload()">Upload</button>

	<!--
	<div class="row">
		<table class="table">
		    <thead>
			    <tr>
			      <th>#</th>
			      <th>Nome</th>
			      <th>PIS</th>
			      <th>Matricula</th>
			      <th>Demitido em</th>
			      <th>Equipe(s)</th>
			    </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="emp in employees track by $index" ng-class="{'funcionario-demitido': !emp.active}">
		        	<td>{{$index}}</td>
		        	<td>{{emp.name}}</td>
			        <td>{{emp.PIS}}</td>
			        <td>{{emp.matricula}}</td>
			        <td>{{emp.FIRED}}</td>
			        <td>
			        	<p ng-repeat="team in emp.teams track by $index" style="font-weight: normal;">
      						{{team}}
    					</p>	
			        </td>
			        
		      </tr>
		    </tbody>
		  </table>
	</div>
	-->

	<!--<td>
	{{emp.alocacao.gestor}}
	</td>-->
	<!-- <td>
	<div class="col-lg-6 col-md-6">
		<h4 class="sub-header"><strong style="color: #334db7;">Horário</strong></h4>
		<p ng-repeat="itemHorario in emp.infoHorario track by $index" style="font-weight: normal;">
				<strong>{{itemHorario.dia}}:</strong> {{itemHorario.horario}}
		</p>
		</div>
	</td> -->

	<!-- <div class="row">
		<table class="table">
		    <thead>
			    <tr>
			      <th>NSR</th>
			      <th>PIS</th>
			      <th>DATA</th>
			      <th>HORA</th>
			      <th>Ações</th>
			    </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="appoint in rawApps track by $index">
		        <td>{{appoint.nsr}}</td>
		        <td>{{appoint.pis}}</td>
		        <td>{{appoint.data}}</td>
		        <td>{{appoint.horario}}</td>
		        <td>
		          <ul class='list-group'>
		            <p>Hey</p>
		            <p>Olá</p>            
		          </ul>
		        </td>
		      </tr>
		    </tbody>
		  </table>
	</div>
 -->
    <!-- <div class="row">    
    	
		<h3> Estatisticas virão aqui </h3>
		<table class="table" st-table="equipes">
		    <thead>
			    <tr class="sortable ">
			      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
			      <th st-sort="setor">Setor</th>
			      <th st-sort="equipe">Equipe</th>
			      <th st-sort="gestor">Gestor</th>
			      <th st-sort="componentes">Componentes</th>
			      <th>Ações</th>
			    </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="equipe in equipes track by $index">
		        <td>{{$index}}</td>
		        <td>{{equipe.setor.nome}}</td>
		        <td>{{equipe.nome}}</td>
		        <td>{{equipe.gestor.nome}}</td>
		        <td>
		          <ul class='list-group'>
		            <p ng-if='equipe.componentes.length===0'>Não há funcionários associados</p>
		            <p ng-if='equipe.componentes.length>0'> {{equipe.componentes.length}} </p> -->
		            <!-- <li ng-repeat="funcionario in equipe.componentes" class='list-group-item'>{{funcionario.nome + funcionario.sobrenome}}
		            </li> -->
		          <!-- </ul>
		        </td>
		      </tr>
		    </tbody>
		  </table>

	</div> -->

</div>