<div ba-panel ba-panel-title="Bater Ponto" ba-panel-class="with-scroll">

    <div class="row">
	   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
	      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Feito!</strong> {{successMsg}}
	    </div>

	    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
	      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Ops!</strong> {{errorMsg}}
	    </div>
	</div>
    
    <div class="row">    
    	
		<h3> Estatisticas virão aqui </h3>
		<table class="table" st-table="equipes">
		    <thead>
			    <tr class="sortable ">
			      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
			      <th st-sort="setor">Setor</th>
			      <th st-sort="equipe">Equipe</th>
			      <th st-sort="gestor">Gestor</th>
			      <th st-sort="componentes">Componentes</th>
			      <th>Ações</th>
			    </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="equipe in equipes track by $index">
		        <td>{{$index}}</td>
		        <td>{{equipe.setor.nome}}</td>
		        <td>{{equipe.nome}}</td>
		        <td>{{equipe.gestor.nome}}</td>
		        <td>
		          <ul class='list-group'>
		            <p ng-if='equipe.componentes.length===0'>Não há funcionários associados</p>
		            <p ng-if='equipe.componentes.length>0'> {{equipe.componentes.length}} </p>
		            <!-- <li ng-repeat="funcionario in equipe.componentes" class='list-group-item'>{{funcionario.nome + funcionario.sobrenome}}
		            </li> -->
		          </ul>
		        </td>
		      </tr>
		    </tbody>
		  </table>

	</div>

</div>