<form name="funcionarioForm">
  <div class="row">
   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Feito!</strong> {{successMsg}}
    </div>

    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ops!</strong> {{errorMsg}}
    </div>
  </div>
  <h4 class="sub-header"><strong style="color: #334db7;">Dados</strong></h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputNome" style="color: red;" >Nome*</label>
        <input type="text" class="form-control" id="inputNome" placeholder="Nome" ng-model="funcionario.nome" ng-required="true">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputSobrenome" style="color: red;">Sobrenome*</label>
        <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome" ng-model="funcionario.sobrenome" ng-required="true">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputPIS" style="color: red;">PIS* - 12 dígitos</label>
        <input type="text" class="form-control" id="inputPIS" placeholder="PIS - completar com zeros no início se for menor que 12 dígitos" ng-model="funcionario.PIS" ng-minlength=12 ng-maxlength=12 ng-required="true">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputCPF" style="color: red;">CPF*</label>
        <input type="text" class="form-control" id="inputCPF" placeholder="CPF" ng-model="funcionario.CPF" ng-required="true">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputMatricula">Matrícula</label>
        <input type="text" class="form-control" id="inputMatricula" placeholder="Matrícula" ng-model="funcionario.matricula">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputEmail">E-mail</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="E-mail" ng-model="funcionario.email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputDataNascimento">Data de Nascimento</label>
        <input type="text" class="form-control" id="inputDataNascimento" placeholder="ex.: 30/04/1986" ng-model="funcionario.dataNascimento" ui-date>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputLocalTrabalho">Local de Trabalho</label>
        <input type="text" class="form-control" id="inputLocalTrabalho" placeholder="Local de Trabalho (ou setor de trabalho)" ng-model="funcionario.localTrabalho">
      </div>
    </div>
  </div>
  <h4 class="sub-header"><strong style="color: #334db7;">Alocação</strong></h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputInstituicao">Instituição*</label>
         <ui-select ng-model="selectedInst.item"
               class="btn-group bootstrap-select form-control"
               ng-disabled="false"
               append-to-body="true"
               search-enabled="false"
               ng-required="true">
          <ui-select-match placeholder="Selecione uma Instituição">
            <span> {{$select.selected.sigla}}</span>
          </ui-select-match>
          <ui-select-choices repeat="instituicao in (instituicoes | filter: $select.search) track by instituicao._id">
            <span ng-bind-html="instituicao.sigla"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputCargo" style="color: red;">Cargo*</label>
         <ui-select ng-model="selectedCargo.item"
               class="btn-group bootstrap-select form-control"
               ng-disabled="false"
               append-to-body="true"
               search-enabled="false"
               ng-required="true">
        <ui-select-match placeholder="Selecione um Cargo">
          <span> {{$select.selected.especificacao}}</span>
        </ui-select-match>
        <ui-select-choices repeat="cargo in (cargos | filter: $select.search) track by cargo._id">
          <span ng-bind-html="cargo.especificacao"></span>
        </ui-select-choices>
      </ui-select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputDataAdmissao" style="color: red;">Data de Admissão*</label>
        <input type="text" class="form-control" id="inputDataAdmissao" placeholder="ex.: 10/05/2016" ng-model="funcionario.alocacao.dataAdmissao" ng-required="true" ui-date>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputTurno" style="color: red;">Turno*</label>
         <ui-select ng-model="selectedTurno.item"
               class="btn-group bootstrap-select form-control"
               ng-disabled="false"
               ng-change="checkEscala(selectedTurno.item)"
               append-to-body="true"
               search-enabled="false"
               ng-required="true">
        <ui-select-match placeholder="Selecione um Turno">
          <span> {{$select.selected.descricao}}</span>
        </ui-select-match>
        <ui-select-choices repeat="turno in (turnos | filter: $select.search) track by turno._id">
          <span ng-bind-html="turno.descricao"></span>
        </ui-select-choices>
      </ui-select>
      </div>
    </div>
  </div>

  <h4 class="sub-header"><strong style="color: #334db7;">Informações Extras</strong></h4>
  <div class="row">
    <div class="col-sm-3">
      <br/>
      <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" id="checkboxSexo" ng-model="funcionario.sexoMasculino">
        <span style="color: red;">Sexo Masculino?*</span>
      </label>
    </div>
    <div class="col-sm-3">
      <br/>
      <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" id="checkboxRHPonto" ng-model="funcionario.rhponto">
        <span style="color: red;">Utiliza RHPonto?*</span>
      </label>
    </div>
    <div class="col-sm-3">
      <br/>
      <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" id="checkboxGestor" ng-model="funcionario.alocacao.gestor">
        <span>É um GESTOR?</span>
      </label>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="inputDataInicioEfetivo">Data de Início Efetivo*</label>
        <input type="text" class="form-control" id="inputDataInicioEfetivo" title="Digite a data que o funcionário de fato inicia o seu trabalho na escala 12x36h se selecionada" placeholder="ex.: 16/01/2015" ng-model="funcionario.alocacao.dataInicioEfetivo" ng-required="isInitDateRequired" ng-disabled="!isInitDateRequired" ui-date>
      </div>
    </div>
  </div>
</form>
<button type="submit" class="btn btn-primary" ng-disabled="funcionarioForm.$invalid" ng-click="save(funcionario)">Salvar</button>