.dadosIdent {
	margin-left: 5px;
}

.needSpace {
	margin-bottom: 10px;
}

.increase-popover-width {
    max-width: 450px;
}

.funcionario-demitido {
    background: #e6cece;
    cursor: pointer;
}

.solicitacao-ajuste {
    background-color: #e9ec1b;
    color: black;
}

.solicitacao-abono {
    background-color: #bbc7f3;
    color: black;
}

.batida-desc {
    background: #a57676;
    font-style: italic;
    color: #d8d5d5;
}

.centerColSpan{
	text-align: center;
}

.rightColSpan{
	text-align: right;
}
.tabledash th { 
	/*border-top: none !important;*/
    border-bottom: 1px solid #dcdcdc !important;  
 }

.first {

    border-left: 1px solid #dcdcdc !important;   
 }

.last {
	border-right: 2px solid #dcdcdc !important;	
}

.lastVertical {
	border-bottom: 1px solid #dcdcdc !important;
}

.tabledash td {
 	border-left: 1px solid #dcdcdc !important;
}

.tabledash tbody tr {
    cursor: pointer;
}

.marcacoesDestak {
	font-family: Montserrat;
    color: #436cbd;
    font-size: 14px;
}

.dateDestak {
 	margin-top: 15px;
    font-size: 14px;
    color: #12198e;
    font-family: Montserrat;
 }

 .web-appoint {
    font-style: italic;
    text-decoration: underline;
 }

 .graphBGColor {
 	background-color: rgba(217, 237, 247, 0.6);
 }

 .titleGraph {
 	margin-top: 10px;
    font-family: monospace;
    font-size: 13px;
    border: 1px solid #a79f9f;
    border-radius: 5px;
    padding: 10px;
 }

 .titleGraphSmall {
 	float: left;
	margin-right: 2px;
 }

 .bh-positivo {
    color: #009c58;
 }

 .bh-negativo {
    color: #da4d39;
 }

 .vertAlignMid td {
    vertical-align: middle;
 }

 .bancoHoras-square-pos {
    background: #34af23;
    color: #fff; 
    width: 250px;
    height: 100px;
    font-size: 60px;
    font-family: serif;
    padding: 38px 0px 0px 10px;   
 }

 .bancoHoras-square-neg {
    background: #c3000d;
    color: #fff;  
    width: 250px;
    height: 100px;
    font-size: 60px;
    font-family: serif;
    padding: 38px 0px 0px 10px;  
 }

.bancoHoras-square-nto {
    background: #f47a20;
    color: #fff;  
    width: 250px;
    height: 100px;
    font-size: 60px;
    font-family: serif;
    padding: 38px 0px 0px 10px;  
}

.bancoHoras-square-trb {
    background: #0054a6;
    color: #fff;  
    width: 250px;
    height: 100px;
    font-size: 60px;
    font-family: serif;
    padding: 38px 0px 0px 10px;  
}
.bh-label{
    display: inherit; 
    width: 250px; 
    text-align: center;
}
.mdl-batida-inclusa {
    background: #f7e4c2;
    font-style: italic;
}

.mdl-batida-nova {
    background: #bae6b4;
    color: #000;
    border-top: 2px solid #868383;
}