<div id="loaderDiv" ng-show="dataProcess">
  <p class="ajax-loader title-loader"> Processando dados... </p>
  <!--<img src="img/rhPontoSlogan.png" class="ajax-loader"/>-->
  <div class='sk-spinner sk-spinner-wave ajax-loader'><div class='sk-rect1'></div><div class='sk-rect2'></div><div class='sk-rect3'></div><div class='sk-rect4'></div><div class='sk-rect5'></div></div>
</div>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" style="color: #4933b7;">Confirmar Ajuste</h4>
    <div class="separator2" style="margin-bottom: 0px;"></div>
  </div>
  <div style="padding: 0px 15px 0px 15px;">
    <div class="row" style="margin: 0px;">
      <div class="row" style="border: 2px solid #676db9; margin: 0px; border-radius: 5px; padding: 5px 0px 0px 0px;">
        <div class="col-xs-12" style="margin-top: 0px;">
          <label ng-show="solicitacao.message" style="color: #134fb7; margin-left: 0px; font-size: 14px; padding: 5px 5px 5px 5px; width: 100%;"> {{solicitacao.message}} </label>
          <label style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Evento: {{solicitacao.eventoAbono.nome}} </label>
          <label ng-if="tipoZero" style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Data: {{solicitacao.data | date:'fullDate'}} </label>
          <label ng-if="tipoUm" style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Data: {{solicitacao.data | date:'fullDate'}} <br> Horário Inicial: {{solicitacao.horarioEnviado.inicial.horarioFtd}} <br> Horário Final: {{solicitacao.horarioEnviado.final.horarioFtd}}</label>
          <label ng-if="tipoDois" style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Data Inicial: {{solicitacao.data | date:'fullDate'}} <br> Data Final: {{solicitacao.dataFinal | date:'fullDate'}} <br> Período de {{solicitacao.arrayAusAjt.length}} dias</label>
          <label style="margin-left: 0px; font-size: 12px; border: 1px solid #bcbcbc; border-radius: 5px; padding: 5px 5px 5px 5px; width: 100%;"> Motivo: {{solicitacao.motivo}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="confirma()">Confirmar</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
  </div>
</div>
