<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" style="color: #4933b7;">{{objBatida.data}}</h4>
    <div class="separator2" style="margin-bottom: 0px;"></div>
  </div>
  <div style="padding: 0px 15px 0px 15px;">
    <div>
      <label style="font-size: 14px; float: left; margin: 5px 5px 0px 0px;">Batimento: </label>
      <label style="border: 1px solid; border-radius: 5px; padding: 3px 5px 3px 5px; background-color: #ede7e7; color: #1344ed;">{{horario}}</label>
    </div>
    <div class="form-group" style="margin: 10px 0px 10px 0px;">
      <label style="font-size: 14px; font-weight: bold; color: #e73b2e;">Motivo</label>
      <div class="form-group">
        <ui-select ng-model="selected.item"
                 class="btn-group bootstrap-select form-control"
                 ng-disabled="false"
                 append-to-body="false"
                 search-enabled="false" 
                 ng-required="true">
          <ui-select-match placeholder="Selecione um motivo:">
            <span> {{$select.selected.nome}}</span>
          </ui-select-match>
          <ui-select-choices repeat="motivo in (motivos | filter: $select.search) track by motivo._id">
            <span ng-bind-html="motivo.nome"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="motivoForm.$invalid" ng-click="confirmDes(algo.motivo)">Salvar</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Fechar</button>
  </div>
</div>
