<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Sua Sessão Expirou</h4>
  </div>
  <div class="modal-body">
    <h3 style="font-size: 14px;">Você ficou muito tempo inativo e sua sessão expirou, por favor efetue um novo login.</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="okay()">Ok</button>
  </div>
</div>
