<div ba-panel ba-panel-title="Tratamento do Espelho de Ponto" ba-panel-class="with-scroll">
    
    <div id="loaderDiv" loader>
	  <p class="ajax-loader title-loader"> Carregando... </p>
	  <!--<img src="img/rhPontoSlogan.png" class="ajax-loader"/>-->
	  <div class='sk-spinner sk-spinner-wave ajax-loader'><div class='sk-rect1'></div><div class='sk-rect2'></div><div class='sk-rect3'></div><div class='sk-rect4'></div><div class='sk-rect5'></div></div>
	</div>
    <!-- <div class="row" ng-if="!isAdmin"> -->
    <div class="row">
		<div class="col-lg-8 col-md-8" >
	        <label style="color: #33aab7;">Funcionário:</label>
	    	<input style="margin-bottom: 10px;" type="text" ng-model="funcionario.selected" uib-typeahead="employee as employee.name for employee in employeesNames | filter:{name:$viewValue} | limitTo:8" class="form-control">
	    	<p><strong>Equipe: </strong> {{funcionario.selected.equipe}}</p>
		    <p><strong>Nome e Cargo: </strong> {{funcionario.selected.name}} - {{funcionario.selected.cargo}}</p>
        	<p class="muted"><strong>Matrícula: </strong>{{funcionario.selected.matricula}} </p>
        	<p class="muted"><strong>PIS: </strong>{{funcionario.selected.PIS}} </p>
		</div>
		<div class="col-lg-4 col-md-4">
			<h4 class="sub-header"><strong style="color: #334db7;">Horário Cadastrado no Sistema</strong></h4>
		    <p ng-repeat="itemHorario in infoHorario track by $index" style="font-weight: normal;">
		        <strong>{{itemHorario.dia}}:</strong> {{itemHorario.horario}}
		    </p>
		</div>
    </div>
    <div class="separator"></div>
    <div class="row"> 
    	<form name="periodoForm">
			<div class="col-lg-3 col-md-3">
				<div class="form-group">
			        <label for="inputMes">Mês:</label>
			         <ui-select ng-model="selectedMes.item"
			               class="btn-group bootstrap-select form-control"
			               ng-disabled="false"
			               ng-change="setMes(selectedMes.item)"
			               append-to-body="true"
			               search-enabled="false"
			               ng-required="true">
			          <ui-select-match placeholder="Selecione um Mês">
			            <span> {{$select.selected.nome}}</span>
			          </ui-select-match>
			          <ui-select-choices repeat="mes in (meses | filter: $select.search) track by mes._id">
			            <span ng-bind-html="mes.nome"></span>
			          </ui-select-choices>
			        </ui-select>
		        </div>
			</div>
		    <div class="col-lg-3 col-md-3">
				<div class="form-group">
			        <label for="inputAno">Ano:</label>
			         <ui-select ng-model="selectedAno.item"
			               class="btn-group bootstrap-select form-control"
			               ng-disabled="false"
			               ng-change="setAno(selectedAno.item)"
			               append-to-body="true"
			               search-enabled="false"
			               ng-required="true">
			          <ui-select-match placeholder="Selecione um Ano">
			            <span> {{$select.selected.value}}</span>
			          </ui-select-match>
			          <ui-select-choices repeat="ano in (anos | filter: $select.search) track by ano.value">
			            <span ng-bind-html="ano.value"></span>
			          </ui-select-choices>
			        </ui-select>
		        </div>
			</div>
			<div class="col-lg-3 col-md-3">
				
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="form-group">
					<div style="margin-bottom: 25px;"></div>
					<button id="idBtnSearch" type="button" class="btn btn-primary btn-with-icon" ng-disabled="periodoForm.$invalid" ng-click="search()">
						<i class="ion-search"></i> {{textoBotao}}
					</button>
				</div>
			</div>
		</form>
    </div>
    <div class="row">
	    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
	      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Ops!</strong> {{errorMsg}}
	    </div>
	</div>
    <div class="separator"></div>
    
    <div class="row" ng-if="!periodoApontamento || periodoApontamento.length==0">
    	<div class="col-xs-12">
	    	<div class="form-group">
	    		<p><strong>A busca não retornou dados para este período de data.</strong></p>
			</div>
		</div>
    </div>
    <div class="row" ng-if="periodoApontamento && periodoApontamento.length>0">
    	<table class="table table-bordered" st-table="periodoApontamento">
		    <thead style="color: #fff; background: #162733; font-weight: bold; font-size: medium;">
			    <tr class="sortable">
			      <!-- <th st-sort="itemApontamento.data.order">Data</th> ta bugando , aparecem outras imgs na tabela-->
			      <th>Data</th>
			      <th>Entradas e Saídas</th>
			      <th>Saldo</th>
			      <th>Observações</th>
			      <th>Ações</th>
			    </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="itemApontamento in periodoApontamento track by $index" ng-class="{'mdl-batida-inclusa': itemApontamento.edited}">
		        <td style="line-height: 45px !important;">{{itemApontamento.data}}</td>
		        <td style="line-height: 45px !important; color: #1166e8">{{itemApontamento.entradasSaidasTodas}}</td>
		        <td style="line-height: 45px !important;" ng-class="{'bh-positivo': itemApontamento.saldo.horasPosit, 'bh-negativo': itemApontamento.saldo.horasNegat}">{{itemApontamento.saldo.horasFtd}}</td>
		        <td style="line-height: 45px !important;">{{itemApontamento.observacao}}</td>
		        <td> 
		            <div class="btn-group" role="group" aria-label="acoes">
		              <button title="Tratar" type="button" class="btn btn-md btn-default" ng-click="edit(itemApontamento, $index)" ng-disabled="itemApontamento.blocked">
		                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  
		              </button>
		            </div>
	          	</td>
		      </tr>
		    </tbody>
		    <tfoot>
		    <tr>
		      <td colspan="6" class="text-center">
		        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
		      </td>
		    </tr>
		    </tfoot>
		</table>		
    </div>
    <div class="separator"></div>
    <div class="row" ng-if="periodoApontamento && periodoApontamento.length>0">

    	<div class="col-md-6"> 
	    	<h4 class="sub-header"><strong style="color: #334db7;">RESUMO MENSAL</strong></h4>
		    <h5 class="sub-header" style="color: #7c267d;">{{diasParaTrabalhar}} <strong>dias de trabalho</strong>, ou seja, {{minutosParaTrabalharFtd}} horas a trabalhar.</h5>
		    <h5 class="sub-header" style="color: #253b80;">{{diasTrabalho}} dias trabalhados com o total de {{minutosTrabalhadosFtd}} horas de trabalho.</h5>
		    <h5 class="sub-header" style="color: #008641;">Saldo Positivo: {{saldoFinalPositivoFtd}}</h5>
		    <h5 class="sub-header" style="color: #c3000d;">Saldo Negativo: -{{saldoFinalNegativoFtd}}</h5>
		    <h5 class="sub-header" style="color: #464646;">Saldo Final do Mês: {{saldoFinalMesFtd}}</h5>
	    </div>

	    <div class="col-md-6">
	    	<div class="col-md-offset-6 col-md-6">
	    		<button id="salvar" type="button" class="btn btn-primary btn-with-icon" ng-click="salvarMudancas()">
					<i class="ion-checkmark"></i> Salvar alterações
				</button>
	    	</div>
	    </div>
    </div>    
</div>