<div id="loaderDiv" loader>
  <p class="ajax-loader title-loader"> Carregando... </p>
  <!--<img src="img/rhPontoSlogan.png" class="ajax-loader"/>-->
  <div class='sk-spinner sk-spinner-wave ajax-loader'><div class='sk-rect1'></div><div class='sk-rect2'></div><div class='sk-rect3'></div><div class='sk-rect4'></div><div class='sk-rect5'></div></div>
</div>

<div ba-panel ba-panel-title="Bater Ponto" ba-panel-class="with-scroll">

    <div class="row">
	   <div ng-show="successMsg" class="alert bg-success closeable" role="alert">
	      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Feito!</strong> {{successMsg}}
	    </div>

	    <div ng-show="errorMsg" class="alert bg-danger closeable" role="alert">
	      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <strong>Ops!</strong> {{errorMsg}}
	    </div>
	</div>
    
    <div class="row">    
    	
    	<div class="col-md-6 col-md-offset-3">
			<div class="col-md-4">
				<h4 class="sub-header"><strong style="color: #334db7;">Data/Hora Atual</strong></h4>
				<time datetime="{{currentDateFtd}}" class="date-as-calendar position-em size1_25x">
					<span class="weekday">{{currentDate | date: 'EEE'}}</span>
					<span class="day">{{currentDate | date: 'd'}}</span>
					<span class="month">{{currentDate | date: 'LLLL'}}</span>
					<span class="year">{{currentDate | date: 'yyyy'}}</span>
				</time>
				<table class="tabBlock" cellspacing="0" cellpadding="0" border="0">
		            <tr>

		            	<td class="clock" id="dc">{{clock | date: 'HH:mm'}}</td>  <!-- THE DIGITAL CLOCK. -->
		                <td>
		                    <table cellpadding="0" cellspacing="0" border="0">		                   		                      
		                        <!-- SHOWING SECONDS. -->
		                        <tr><td class="clocklg" id="dc_second">{{clock | date: 'ss'}}</td></tr>
		                    </table>
		                </td>
		            </tr>
		        </table>
		    </div>

		    <div class="col-md-8" style="border: 1px solid black; border-radius: 10px; background: #fff;">
				<h4 class="sub-header"><strong style="color: #334db7;">Horário Cadastrado no Sistema</strong></h4>
			    <p>{{::funcionario.nome}} {{::funcionario.sobrenome}}</p>
	        	<p class="muted"> {{::funcionario.email}} </p>
			    <p ng-repeat="itemHorario in infoHorario track by $index" style="font-weight: normal;">
			        <strong>{{itemHorario.dia}}:</strong> {{itemHorario.horario}}
			    </p>
	    	</div>		

    	</div>		
	    
    </div>   
    <div class="separator"></div>
    <div class="row">    
    	
    	<div class="col-md-6 col-md-offset-3">
    		<div class="col-md-8" style="border: 1px solid black; border-radius: 10px; background: #fff;">
				<div><h4 class="sub-header"><strong style="color: #334db7;">Batimentos Efetuados na Data Atual</strong></h4></div>
				<div class="btn-toolbar-example">
		            <div class="btn-toolbar" role="toolbar" aria-label="Batimentos do dia" ng-if="arrayBatidas.proposto.length>0">
		              <div class="btn-group" style="margin-bottom: 5px;" role="group" aria-label="First group" ng-repeat="batida in arrayBatidas.proposto track by $index">
		                  <label style="border: 1px solid; border-radius: 10px; padding: 5px; line-height: 20px;">{{batida}}</label>
		              </div>
		            </div>
		            <div class="btn-toolbar" role="toolbar" aria-label="Batimentos do dia" ng-if="arrayBatidas.proposto.length<=0">
		              <label style="margin-left: 5px; font-size: 12px;"> Sem registros </label>
		            </div>
	          	</div>
          	</div>

          	<div class="col-md-4">
          		<div style="margin: 12px 0 0 20px;">
          			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" ng-click="open()"><i class="ion-android-download"></i>&nbsp;&nbsp;Bater Ponto!</button>
          		</div>
          	</div>
    	</div>		
	    
    </div>
</div>